{% extends 'base.html.twig' %}

{% block pageTitle %}UTILISATEURS{% endblock %}

{% block body %}
<div class="col-lg-10 col-md-12 m-auto">
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-md btn-primary btn-add mb-3" href="{{ path('app_register') }}">Ajouter</a>
    {% endif %}
    <table class="tableList display w-100" data-order='[[ 0, "asc" ], [1, "asc"]]'>
        <thead>
            <tr>
                <td style="max-width:200px">UTILISATEUR</td>
                <td style="max-width:200px">RÔLE</td>
                <td class="text-center" style="min-width:100px; max-width:150px">MOBILE</td>
                <td style="max-width:200px">E-MAIL</td>
                <td style="max-width:150px table-btn"></td>
            </tr>
        </thead>
        <tbody>
        {% for list in listing %}
            <tr style="cursor:pointer" onclick="location.href='{{ path('user_profile', {'id':list.id}) }}'">
                <td>{{ list }}</td>
                <td>{{ list.getRolesStr }}</td>
                <td class="text-center">{{ list.phoneMob }}</td>
                <td><a class="link-info" href="mailto:{{ list.email }}">{{ list.email }}</a></td>
                <td class="text-center">
                  {% if app.user.id == list.id or is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-sm btn-warning btn-edit" href="{{ path('user_edit', {'id':list.id}) }}">Modifier</a>
                  {% endif %}
                  {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-sm btn-danger btn-del" 
                        onclick="confirmDelete()" 
                        data-text="{{ list }}"
                        data-ctrl="l'utilisateur'" href="{{ path('user_index', {'id':list.id}) }}">Supprimer</a>
                  {% endif %}
                </td>
            </tr>
        {% else %}
            <tr colspan="4" class="text-center"><td><h3>Aucune donnée enregistrée...</h3></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset("js/tableScript.js") }}"></script>
{% endblock %}

{% endblock %}
