{% extends 'base.html.twig' %}

{% block pageTitle %}Inscriptions {{ activeYear }}{% endblock %}

{% block body %}
<div class="col-lg-10 col-md-12 m-auto">
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-md btn-primary btn-add mb-3" href="{{ path('inscription_add') }}">Ajouter Inscription</a>
    {% endif %}
    <table class="tableList display w-100" data-order='[[ 0, "desc" ]]'>
        <thead>
            <tr>
                <td class="text-center" style="max-width:50px">Nº</td>
                <td>RESPONSABLE</td>
                <td class="text-center" style="min-width:100px">ENF / SEM</td>
                <td class="text-center" style="min-width:100px">TOTAL</td>
            </tr>
        </thead>
        <tbody>
        {% for list in listing %}
            {% set listDet = list.inscriptionDetails %}
            <tr style="cursor:pointer" onclick="location.href='{{ path('inscription_edit', {'id':list.id}) }}'">
                {% set payStatus = "" %}
                {% if list.getTotalPaid == list.totalInsc %}
                    {% set payStatus = "insc__paid" %}
                {% else %}
                    {% set payStatus = "insc__unpaid" %}
                {% endif %}
                <td class="text-center">{{ list.numInsc }}</td>
                <td>{{ list.responsable }}</td>
                <td class="text-center">{{ list.countChildrenAndWeeks }}</td>
                <td style="text-align:right">{{ list.totalInsc|number_format(2, ',', ' ') }}&emsp;
                    <a href="{{ path('payment_index', {'id':list.id}) }}" title="Ouvrir Paiements">
                        <i class="fas fa-circle {{ payStatus }}"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr class="text-center" ><td colspan="4"><h3>Aucune donnée enregistrée...</h3></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% block javascripts  %}
    {{ parent() }}
    <script src="{{ asset("js/tableScript.js") }}"></script>
{% endblock %}
{% endblock %}