{% extends 'base.html.twig' %}

{% block title %}Enfants{% endblock %}
{% block pageTitle %}ENFANT{% endblock %}

{% block body %}

<div class="wrapper mx-auto col-lg-8 col-md-12">
    <div class="col-md-12">
        <h3 class="mb-3">{{ profile }}</h3>
        <p><strong>Âge : </strong>{{ profile.getAge}} ans</p>
        <p><strong>Date Naissance : </strong>{{ profile.birthday|date("d-m-Y") }}</p>
        <h5 class="mb-3 text-primary">Précautions / Régimes</h5>
        <ul>
            <p><strong>Médical : </strong>{{ profile.medicalObs }}</p>
            <p><strong>Allergies : </strong>{{ profile.allergyObs }}</p>
            <p><strong>Alimentaires : </strong>{{ profile.foodObs }}</p>
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <p><a class="btn btn-sm btn-warning btn-edit" href="{{ path('responsable_edit', {'id':profile.id, 'goBack':'children_profile'}) }}">Modifier</a></p>
        {% endif %}
    </div>

    <div class="col-12 mt-4">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="max-width:200px">RESPONSABLE</th>
                    <th class="text-center" style="min-width:100px; max-width:150px">MOBILE</th>
                    <th class="text-center" style="min-width:100px; max-width:150px">FIXE</th>
                    <th class="table-btn" style="width:80px"></th>
                </tr>
            </thead>
            <tbody>
            {% for list in profile.responsables %}
                <tr style="cursor:pointer" onclick="location.href='{{ path('responsable_profile', {'id':list.id}) }}'">
                    <td>{{ list.relation ~ " : " ~ list }}</td>
                    <td class="text-center">{{ list.phoneMob }}</td>
                    <td class="text-center">{{ list.phoneHome }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td class="text-center">
                        <td>
                        <a class="btn btn-sm btn-warning btn-sm-edit" title="Modifier" href="{{ path('responsable_edit', {'id':profile.id, 'goBack':'children_profile', 'goBackId':profile.id}) }}"><i class="far fa-edit"></i></a>
                        <a class="btn btn-sm btn-danger btn-sm-del" title="Supprimer"
                        onclick="confirmDelete()" 
                        data-text="{{ list }}"
                        data-ctrl="le Responsable" href="{{ path('responsable_index', {'id':list.id}) }}"><i class="far fa-trash-alt text-white"></i></a>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr colspan="4" class="text-center"><td><h5>Aucune donnée enregistrée...</h5></td></tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
        {# Add Responsable Form #}
        <div class="resp-addChildren flex align-items-center text-center m-auto">
            <form action="{{ path('children_addResponsable', {'id':profile.id}) }}" method="get">
                <select name="responsable" id="responsable" class="form-select d-inline-block" style="width:300px">
                    <option value="" hidden>---</option>
                    {% for responsable in responsables %}
                        <option value="{{ responsable.id }}">{{ responsable }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-sm btn-primary btn-add">Ajouter Responsable</button>
            </form>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}
